---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1544339264'
      Etag:
      - W/"9f93477a0a6593bced83fed97e391d2c"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":153657062,"node_id":"MDEwOlJlcG9zaXRvcnkxNTM2NTcwNjI=","name":"activerecord-obstacle-course","full_name":"Isaac-Falkenstine/activerecord-obstacle-course","private":false,"owner":{"login":"Isaac-Falkenstine","id":41242161,"node_id":"MDQ6VXNlcjQxMjQyMTYx","avatar_url":"https://avatars2.githubusercontent.com/u/41242161?v=4","gravatar_id":"","url":"https://api.github.com/users/Isaac-Falkenstine","html_url":"https://github.com/Isaac-Falkenstine","followers_url":"https://api.github.com/users/Isaac-Falkenstine/followers","following_url":"https://api.github.com/users/Isaac-Falkenstine/following{/other_user}","gists_url":"https://api.github.com/users/Isaac-Falkenstine/gists{/gist_id}","starred_url":"https://api.github.com/users/Isaac-Falkenstine/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Isaac-Falkenstine/subscriptions","organizations_url":"https://api.github.com/users/Isaac-Falkenstine/orgs","repos_url":"https://api.github.com/users/Isaac-Falkenstine/repos","events_url":"https://api.github.com/users/Isaac-Falkenstine/events{/privacy}","received_events_url":"https://api.github.com/users/Isaac-Falkenstine/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Isaac-Falkenstine/activerecord-obstacle-course","description":"Backend
        Module 2 ongoing ActiveRecord exercises","fork":true,"url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/Isaac-Falkenstine/activerecord-obstacle-course/deployments","created_at":"2018-10-18T16:49:04Z","updated_at":"2018-11-07T22:07:12Z","pushed_at":"2018-11-07T22:07:10Z","git_url":"git://github.com/Isaac-Falkenstine/activerecord-obstacle-course.git","ssh_url":"git@github.com:Isaac-Falkenstine/activerecord-obstacle-course.git","clone_url":"https://github.com/Isaac-Falkenstine/activerecord-obstacle-course.git","svn_url":"https://github.com/Isaac-Falkenstine/activerecord-obstacle-course","homepage":null,"size":46,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":152776500,"node_id":"MDEwOlJlcG9zaXRvcnkxNTI3NzY1MDA=","name":"apollo_14","full_name":"Isaac-Falkenstine/apollo_14","private":false,"owner":{"login":"Isaac-Falkenstine","id":41242161,"node_id":"MDQ6VXNlcjQxMjQyMTYx","avatar_url":"https://avatars2.githubusercontent.com/u/41242161?v=4","gravatar_id":"","url":"https://api.github.com/users/Isaac-Falkenstine","html_url":"https://github.com/Isaac-Falkenstine","followers_url":"https://api.github.com/users/Isaac-Falkenstine/followers","foll[...]
[...]
