---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1544575204'
      Etag:
      - W/"6a0ab944a23995f5cc596e457d419108"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"averimj","id":33760591,"node_id":"MDQ6VXNlcjMzNzYwNTkx","avatar_url":"https://avatars1.githubusercontent.com/u/33760591?v=4","gravatar_id":"","url":"https://api.github.com/users/averimj","html_url":"https://github.com/averimj","followers_url":"https://api.github.com/users/averimj/followers","following_url":"https://api.github.com/users/averimj/following{/other_user}","gists_url":"https://api.github.com/users/averimj/gists{/gist_id}","starred_url":"https://api.github.com/users/averimj/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/averimj/subscriptions","organizations_url":"https://api.github.com/users/averimj/orgs","repos_url":"https://api.github.com/users/averimj/repos","events_url":"https://api.github.com/users/averimj/events{/privacy}","received_events_url":"https://api.github.com/users/averimj/received_events","type":"User","site_admin":false},{"login":"MaryBork","id":38509894,"node_id":"MDQ6VXNlcjM4NTA5ODk0","avatar_url":"https://avatars1.githubusercontent.com/u/38509894?v=4","gravatar_id":"","url":"https://api.github.com/users/MaryBork","html_url":"https://github.com/MaryBork","followers_url":"https://api.github.com/users/MaryBork/followers","following_url":"https://api.github.com/users/MaryBork/following{/other_user}","gists_url":"https://api.github.com/users/MaryBork/gists{/gist_id}","starred_url":"https://api.github.com/us[...]
[...]
